node_modules
vendor
.git
.github
.planning
database/*.sqlite
storage/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/build
.env
.phpunit.cache
